@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.menu {
    height: 100px;
    box-shadow: 0px 4px 19px -9px rgba(0, 0, 0, 0.3);
}

.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    height: inherit;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.menu__items {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu__items a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .menu__items {
        display: none;
    }

    .header__logo {
        display: block;
        margin: 0 auto;
    }
}

/* Header offer */

.offer {
    background-color: #000aff;
    height: 688px;
}

.offer__content {
    color: white;
    background-image: url("../img/offer_image.png");
    background-repeat: no-repeat;
    background-position: right top;

    height: inherit;
    padding-top: 54px;
}

@media screen and (max-width: 720px) {
    .offer__content {
        background-size: 200px 200px;
    }
}

.offer__text {
    max-width: 535px;
}

.offer__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    margin-bottom: 34px;
}

.offer__subheader {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 134px;
}

.offer__button {
    display: block;
    background: transparent;
    border: 4px solid #ffffff;
    border-radius: 10px;
    width: 269px;
    height: 55px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 51px;
    user-select: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

@media screen and (max-width: 720px) {
    .offer__header {
        font-size: 36px;
    }

    .offer__subheader {
        font-size: 18px;
        margin-bottom: 90px;
    }
}

/* Achivments */
.achivments {
    padding-top: 32px;
}

.section__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    max-width: 385px;
    margin-bottom: 32px;
}

.achivments__header span {
    color: #000aff;
}

.achivments__items {
    list-style: none;
}

.achivments__row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.achivments__item {
    display: block;
    background-color: #000aff;
    /* height: 276px; */
    border-radius: 25px;
    padding: 32px;
    padding-right: 100px;
    color: white;
    flex-basis: 100%;
    position: relative;
}

@media screen and (max-width: 720px) {
    .achivments__row {
        flex-direction: column;
    }

    .achivments__item {
        flex-basis: auto;
    }
}

.item__header {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    max-width: 325px;
    margin-bottom: 42px;
}

.item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.item__icon {
    position: absolute;
    top: 32px;
    right: 32px;
    height: 64px;
}

/* Courses section */
